@import "./Mixin.scss";

#contact {
	.contact__container {
		position: relative;
		padding-top: 3.5rem;
		background: var(--first-color-darken);
		border-radius: 3rem;
		box-shadow: inset var(--shadow-card);
		overflow: hidden;

		.contact__content {
			padding-top: 1rem;
			row-gap: 3rem;

			.contact__data {
				text-align: center;

				.contact__title {
					font: 400 var(--h2-font-size) var(--second-font);
					margin-bottom: 0.75rem;

					@include minWidth1150 {
						margin-bottom: 1rem;
					}
				}

				.contact__social {
					display: flex;
					justify-content: center;
					gap: 0.75rem;

					a {
						color: var(--second-color);
						font-size: 1.5rem;

						svg {
							width: 25px;
							height: auto;
						}
					}

					@include minWidth1150 {
						justify-content: initial;
					}
				}

				.contact__info {
					font-style: normal;
				}

				@include minWidth1150 {
					text-align: initial;
					grid-template: max-content / repeat(2, max-content);
					gap: 3rem 2rem;
				}
			}

			.contact__img {
				width: 200px;
				justify-self: center;
				filter: var(--shadow-img);

				@include minWidth1150 {
					width: 320px;
					transform: translateY(-6rem);
				}
			}

			@include minWidth1150 {
				grid-template: 330px / 360px 320px;
				justify-content: center;
				align-items: flex-start;
				column-gap: 10rem;
				padding-top: 2rem;
			}
		}

		.contact__shrimp,
		.contact__crab,
		.contact__meat {
			position: absolute;
			opacity: 0.5;
			width: 40px;

			@include minWidth1150 {
				width: 80px;
			}
		}

		.contact__shrimp {
			top: 9rem;
			right: 1.5rem;
			rotate: 15deg;

			@include minWidth1150 {
				top: 20rem;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}

		.contact__crab {
			top: 17rem;
			left: 1rem;
			rotate: 15deg;

			@include minWidth1150 {
				top: 5rem;
				left: 4rem;
			}
		}

		.contact__meat {
			bottom: 11rem;
			right: 2rem;
			rotate: -15deg;

			@include minWidth1150 {
				right: initial;
				left: 12rem;
				bottom: -1rem;
			}
		}

		@include minWidth1150 {
			border-radius: 4rem;
		}
	}

	@include minWidth540 {
		display: grid;
		grid-template-columns: 450px;
		justify-content: center;
	}

	@include minWidth768 {
		grid-template-columns: 550px;
	}

	@include minWidth1150 {
		display: block;
	}
}
